PORT=8080
data
SUPABASE_URL=https://your_project_ref.supabase.co
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SECRET_KEY=your_supabase_secret_key
SUPABASE_JWKS_URL=https://your_project_ref.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
TICK_RATE_MS=60000 
NODE_ENV=development
# REDIS CONFIGURATION
REDIS_URL=your_redis_url
